<html> 
    <head> 
      <title>Video Streaming </title>
      <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    </head> 
    <body> 
      <h1> Live Video Streaming </h1> 
      <img src="stream.mjpg">
      <button onclick="toggleDarkMode()">Dark Mode</button>
      <label id="darkStatus">OFF</label>
      <button onclick="toggleLightMode()">Light Mode</button>
      <label id="lightStatus">OFF</label>
      <button onclick="takePicture()">Photo</button>
      <button onclick="setGain('up', null)">Gain Up</button>
      <input type="text" id="gain" value= "0" />
      <button onclick="setGain('down', null)">Gain Down</button>
      <button onclick="setDim('up', null)">Dim Up</button>
      <input type="text" id="dim" value= "0" />
      <button onclick="setDim('down', null)">Dim Down</button>
      <button onclick="moveX(0)">X:0</button>
      <button onclick="moveX(45)">X:45</button>
      <button onclick="moveX(90)">X:90</button>
      <button onclick="moveX(135)">X:135</button>
      <button onclick="moveX(180)">X:180</button>

      <button onclick="moveY(0)">Y:0</button>
      <button onclick="moveY(37)">Y:37</button>
      <button onclick="moveY(75)">Y:75</button>
      <button onclick="moveY(112)">Y:112</button>
      <button onclick="moveY(150)">Y:150</button>

      <button id="moveServo" onmousedown="moveServo('left',1)" onmouseup="stopServo()" >Test Servo</button>

      <audio controls>
          <source src="audio" type="audio/x-wav;codec=pcm">
          Your browser does not support the audio element.
      </audio>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
      <script lang="javascript">

          var servoNamespace = '/servo';
          var socket = io(servoNamespace);

          function takePicture(){
            axios.get('/photo')
              .then(function (response) {
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
          function toggleDarkMode(){  
            axios.post('/dark')
              .then(function (response) {
                document.getElementById("darkStatus").innerHTML = response.data.isON  ? "ON" : "OFF";
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
          function toggleLightMode(){  
            axios.post('/light')
              .then(function (response) {
                document.getElementById("lightStatus").innerHTML = response.data.isON ? "ON" : "OFF";
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
          function setDim(direction, dim){
            //alert( document.getElementById("dim").value);
            axios.post('/dim', {direction: direction, dim: dim})
              .then(function (response) {
                document.getElementById("dim").value = response.data.currentDim;
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
          function getDim(){
            //alert( document.getElementById("dim").value);
            axios.get('/dim')
              .then(function (response) {
                document.getElementById("dim").value = response.data.currentDim;
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
          function getGain(){
            //alert( document.getElementById("gain").value);
            axios.get('/gain')
              .then(function (response) {
                document.getElementById("gain").value = response.data.currentGain;
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
          function setGain(direction, gain){
            //alert( document.getElementById("gain").value);
            axios.post('/gain', {direction: direction, gain: gain})
              .then(function (response) {
                document.getElementById("gain").value = response.data.currentGain;
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }

          var currentX = 0;
          var currentY = 0;

          function moveX(x){
            //alert( document.getElementById("gain").value);
            currentX = x;
            axios.post('/move', {x: x, y: currentY})
              .then(function (response) {
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
          function moveY(y){
            //alert( document.getElementById("gain").value);
            currentY = y;
            axios.post('/move', {x: currentX, y: y})
              .then(function (response) {
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }

          var gainInput = document.getElementById("gain");
          gainInput.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
              event.preventDefault();
              var gain = document.getElementById("gain").value;
              setGain(null, gain);
            }
          });

          var dimInput = document.getElementById("dim");
          dimInput.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
              event.preventDefault();
              var dim = document.getElementById("dim").value;
              setDim(null, dim);
            }
          });

          var movingServo = false;

          function moveServoSockets(dir, degres){
            movingServo = true;
            while(movingServo){
              console.log(dir + ' ' + degres);
              socket.emit('move', {dir: dir, degres: degres});
            }
          }

          function stopMovingServo(){
            movingServo = false;
          }


          var timer = null; // Will hold a reference to the timer

          function moveServo (dir, step){ 
           // Set the timer reference
           timer = setInterval(function() {
            socket.emit('move', {dir: dir, step: step});
           }, 1000);
          }
          
          function stopServo (event){ 
            clearInterval(timer);
          }


          (() => {

            getGain();
            getDim();
          })()
        </script>
    </body> 
   </html> 
