<html> 
    <head> 
      <title>Video Streaming </title> 
    </head> 
    <body> 
      <h1> Live Video Streaming </h1> 
      <img src="stream.mjpg"> 
      <button onclick="toggleDarkMode()">Dark Mode</button>
      <button onclick="takePicture()">Photo</button>
      <input id="dim" type="number" name="quantity" min="0" max="50" onchange="setDim(this.value)">
      <input id="gain" type="number" name="quantity" min="0" max="16" onchange="setGain(this.value)">

      <!-- <audio controls>
          <source src="audio" type="audio/x-wav;codec=pcm">
          Your browser does not support the audio element.
      </audio> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
      <script lang="javascript">
          function takePicture(){
            axios.get('/photo')
              .then(function (response) {
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
          function toggleDarkMode(){  
            axios.post('/datk', {gain: ''})
              .then(function (response) {
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
          function setDim(){
            //alert( document.getElementById("dim").value);
            axios.post('/setDim', {dim: document.getElementById("dim").value})
              .then(function (response) {
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
          function setGain(){
            //alert( document.getElementById("gain").value);
            axios.post('/setGain', {gain: document.getElementById("gain").value})
              .then(function (response) {
                console.log(response);
              })
            .catch(function (error) {
              console.log(error);
            });
          }
        </script>
    </body> 
   </html> 